body {

	background-color: black;
	width: 100%;
	z-index: 1;
}

#locationchimp {
	
}

#textcontent {
	color: white;
	text-align: center;
	text-shadow: 2px 2px #000000;
	padding: 35px;
	margin: 10px;
	
	z-index: 3;
}

footer {
	z-index: 5;
	position: sticky;
	background-color: #2F4F4F;
	color: white;
	text-align: center;
	text-shadow: 2px 2px #000000;
	
	bottom: 10;
}

.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 3 / 3; }
.div2 { grid-area: 1 / 3 / 6 / 6; }
.div3 { grid-area: 3 / 1 / 6 / 3; }
